export TWITTER_KEY="5KkaMvu3myz1kIdW9chHrGazR"
export TWITTER_SECRET="DtOwndPpZHv5BOS8ueQpkP909tsnfypWamX9zJp1oylNnfLGzH"
export GOOGLE_CLIENT_ID="643275613417-8tg0g7l2gsqqu53bbt69nkbm5bv37gmu.apps.googleusercontent.com"
export GOOGLE_CLIENT_SECRET="IRiF8f_9SCtJ89WP4F-aFPmD"
export GITHUB_KEY="566c6089ae7c5e1cafea"
export GITHUB_SECRET="3ae512d1ba88a5000d0d57e498f0948e76bb996b"
